* {
  box-sizing: border-box;
  font-family: helvetica;
}

body{
  margin: 0;
}

.navigation-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 180px;
  padding-right: 180px;
  color: #242a56;
  box-shadow: 0px 3px 3px #bebebe;
  /* padding-bottom: 10px   */
}

.navigation-menu{
  display: flex;
}

.navigation-menu-choice{
  display: flex;
  align-items: center;
  margin-right: 3px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 9px;
  padding-right: 9px
}

.chevron-down{
  width: 25px;
  margin-left: 6px;
}

.navigation-menu-link{
  color: #242a56;
  text-decoration: none;
  padding-left: 4px;
  padding-bottom: 10px;
  padding-top: 6px;
}

a.navigation-menu-link:hover{
  background-color:  #e5f4fb;
  padding-left: 4px;
}

.header{
  background-color: #e5f4fb;
  height: 800px;
  margin-top: 4px;
  padding-left: 180px;
  padding-right: 180px;
}

.home-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-navigation-side{
  display:flex;
  align-items: center;
}

.home-navigation-side-paragraph{
  font-size: 14px;
  margin-right: 8px;
  text-decoration: none;
}

.person-image{
  width: 20px;
}

.home-word{
  font-weight: bold;
  color: #242a56;
}

.sign-in-link{
  display:flex;
  align-items: center;
  text-decoration: underline;
  color: black;
}

.main-container{
  display: flex;
  align-items: center;
}

.main-container-feature{
  display:flex;
  align-items:center;
  color: #0c71b4;
}

.checkmark{
  width: 30px;
  margin-right: 14px;
}

.subtitle{
  font-size: 26px;
  font-weight: bold;
  color: #0c71b4;
  margin-bottom: 0px;
}

.title{
  font-size:40px;
  font-weight: bold;
  color: #242a56;
  margin-top: 5px;
}


.dark-blue-background{
  background-color: #242a56;
  width: 330px;
  height: 330px;
  margin-left: 90px;
}

.main-container-features{
  width: 590px;
}

.feature-text{
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 5px;
}

.bold-blue{
  font-weight: bold;
  color: #008FD0;
}

.green-button{
  background-color: #5e9b00;
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.green-button-text{
  color: #ffffff;
  text-decoration: none;
}